.card {
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 12px;

  width: 170px;
  height: 115px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  border-color: #58a6ff;
}

.card h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.card-value {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-value-small {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.status-green {
  color: #3fb950;
}